<body>

    <div class="about-section">
      <h1>contact us </h1>
      <img src="https://burst.shopifycdn.com/photos/a-phone-on-a-blue-background-with-contact-us.jpg?width=373&format=pjpg&exif=1&iptc=1" style="width:30%">
  
    
    </div>
    
    <h2 style="text-align:center"></h2>
    <div class="row">
      <div class="column">
        <div class="card">
          
          <div class="container">
            <h3>Mr.Dr.Naresh Trehan </h3><br>
            <h3>Mr. Dr. Arthur Reese Abright </h3>
            <p class="title">Help and Support Team</p>
           
            <p>NareshTrehane@gmail.com,ArthurReese@gmail.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>
    
      <div class="column">
        <div class="card">
          
          <div class="container">
            <h2>
                Adrress 1:

            </h2>
            <p>
                Friend's Hospital<br>
                colony no.12, lane 5, banjarahills, Hyderabad, 500600
            </p>
          </div>
        </div>
      </div>
      
      <div class="column">
        <div class="card">
         
          <div class="container">
            <h2>
                Adrress 2:

            </h2>
            <p>
                Friend's Hospital<br>
                colony no.8, lane 1, bidar , karnataka, 585401
            </p>

          </div>
        </div>
      </div>
    </div>
    
    </body>