<br><br><p class="h1" style="text-align: center; font-size: 50px;">Welcome to Friend's Hospital </p>


<div class="bgimage">
    
    <div class="all">
    <div class="admin" >
   <a (click)="admin()"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8QPksiWjtUoRQRxXQt0fkdEeMORGgIO4-wA&usqp=CAU" height="250px" width="200px" alt="admin img"></a>
   <p style="text-align: center"><b>Admin</b>  </p>
     </div>
     
     <div class="doctor" >
        <a (click)="doctor()"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTavbRWk-F2cFfA4iifaEGNY36juQkIWIhQN6NZbBv947TkZBjudtNMENip5tYowxJX2RA&usqp=CAU" height="250px" width="200px" alt="admin img"></a>
        <p style="text-align: center"><b>Doctor</b>  </p> 
      </div> 
        
       <div class="patient" >
        <a (click)="patient()"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmGB3z-NM04Hcy6EZFVDCeCtBnxGQLQw-wRA&usqp=CAU" height="250px" width="200px" alt="admin img"></a>
        <p style="text-align: center"><b>Patient</b>  </p>
      </div> 
    </div>

  </div>  
<app-footer></app-footer>
